---
import '@fontsource/source-code-pro/400.css';
import '@fontsource/source-code-pro/500.css';

import { getAllPaths, getPostBySlug } from '../lib/api';
import { rehype } from 'rehype';
import Root from '../layouts/Root.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Html from '../components/Html.astro';
import Link from '../components/Link.astro';
import Image from '../components/Image.astro';
import pageSymbol from '../lib/pageSymbol';

import { allPages } from '../lib/posts.ts';

export async function getStaticPaths() {
  const posts = await allPages;

  // console.log(posts.map((p) => p.keywords.slug));
  // console.log('posts', posts);

  return posts.map((post) => ({
    params: {
      slug:
        post.keywords?.slug === '' ? undefined : post.keywords?.slug ?? 'blah',
    },
    props: {
      post,
    },
  }));
}

// const { slug } = Astro.params;
const {
  post: { default: Content, keywords: data = {} },
} = Astro.props;

// const post = await getPostBySlug(slug ? '/' + slug + '/' : '/');
// const data = post.data;
// const image = data.images?.[0]?.src ?? '/gravatar.png';
// const backlinks = await Promise.all([...data.backlinks].map(getPostBySlug));
//
// const html = rehype.stringify(post.result);
const image = undefined;
const backlinks = [];
---

<Root title={data.title} image={image} description={data.description ?? null}>
  <link
    slot="head"
    rel="alternate"
    type="application/rss+xml"
    title="RSS feed for all posts"
    href="/posts.rss.xml"
  />

  <article>
    <Header
      title={data.title}
      icon={data.icon ?? pageSymbol(data.pageType)}
      date={data.date}
      lastModified={data.last_modified}
    />
    <Content
      components={{
        a: Link,
        img: Image,
      }}
    />
    {
      !!backlinks.length && data.no_backlinks === undefined && (
        <>
          <h2>Backlinks</h2>
          <ul>
            {backlinks
              .sort((a, b) => (a.path < b.path ? -1 : 1))
              .map((b) => (
                <li>
                  {b.data.icon ?? pageSymbol(b.data.pageType)}
                  <Link href={b.path}>{b.data.title}</Link>
                </li>
              ))}
          </ul>
        </>
      )
    }
  </article>
  <Footer />
</Root>
