---
import moment from 'moment';

import Link from './Link.astro';
import HomeIcon from './home-icon.svg?raw';
import SearchIcon from './search-icon.svg?raw';

const { title, icon, date, lastModified } = Astro.props;

const isodate = date ? moment(date).format('YYYY-MM-DD') : null;
const dateHuman = date ? moment(date).format('MMMM D, YYYY') : null;
const lastModifiedIso = lastModified
  ? moment(lastModified).format('YYYY-MM-DD')
  : null;
const lastModifiedHuman = lastModified
  ? moment(lastModified).format('MMMM D, YYYY')
  : null;
---

<header>
  <div class="homerow">
    <nav class="quicklinks">
      <a
        href="/"
        class="icon-link"
        aria-label="Home"
        data-astro-prefetch="hover"
      >
        <Fragment set:html={HomeIcon} />
      </a>
      <a
        href="/archive"
        class="icon-link"
        aria-label="Search"
        data-astro-prefetch="hover"
      >
        <Fragment set:html={SearchIcon} />
      </a>
    </nav>
    <h1>
      <span class="page-symbol">{icon}</span><span class="p-name title"
        >{title}</span
      >
    </h1>
  </div>
  <!-- prettier-ignore -->
  <div>
    {
      dateHuman || lastModifiedHuman ? (
        <span class="time">
          {isodate && dateHuman &&
            <time class="dt-published" dateTime={isodate}>{dateHuman}</time>
          }{
            dateHuman && lastModifiedHuman && (
            <span class="time-separator">{'. Last modified: '}</span>
          )}{lastModifiedHuman && lastModifiedIso && (
            <time class="dt-updated" dateTime={lastModifiedIso}>
              {lastModifiedHuman}
            </time>
          )}
        </span>
      ) : null
    }
  </div>
  <a style="display:none" class="u-url" href=".">permalink</a>
  <div class="p-author h-card" style="display:none">
    by <a class="u-url u-uid" rel="author" href="https://oleksii.shmalko.com"
      ><img class="u-logo" src="/gravatar.png" />
      <span class="p-name">Oleksii Shmalko</span></a
    >
  </div>
  <style>
    header {
      margin-top: 8px;
      margin-bottom: var(--secondary-spacing);
    }
    .page-symbol {
      margin-top: 4px;
      margin-right: 8px;
      white-space: nowrap;
      font-size: 20px;
    }
    h1 {
      display: inline;
      margin-bottom: 0px;
      /* to position .page-symbol */
      position: relative;
    }

    .time {
      color: #444;
      font-style: italic;
      font-size: 20px;
    }
    .time-separator {
      white-space: pre-wrap;
    }
    .quicklinks {
      float: right;
      display: inline-flex;
      align-items: flex-start;
      margin-left: 12px;
      z-index: 10;
    }
    .icon-link {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 11.25px;
      margin: -11.25px 0;

      border-radius: 50%;
      transition:
        color 0.05s ease-in-out,
        background-color 0.05s ease-in-out;
    }
    .icon-link:hover {
      background-color: #f0f0f0;
    }
    .icon-link:active {
      background-color: #d7d7d7;
    }
    @media (min-width: 950px) {
      .page-symbol {
        position: absolute;
        right: 100%;
      }
      .quicklinks {
        position: absolute;
        left: 100%;
      }
    }
  </style>
</header>
