---
import '@fontsource/libre-baskerville/400.css';
import '@fontsource/libre-baskerville/400-italic.css';
import '@fontsource/libre-baskerville/700.css';

import 'katex/dist/katex.css';

import font400 from '@fontsource/libre-baskerville/files/libre-baskerville-latin-400-normal.woff2';
import font400italic from '@fontsource/libre-baskerville/files/libre-baskerville-latin-400-italic.woff2';
import font700 from '@fontsource/libre-baskerville/files/libre-baskerville-latin-700-normal.woff2';

import Footer from '../components/Footer.astro';

const { title, image, description } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site);
const ogImage = image ? image : new URL('/gravatar.png', Astro.site);
---

<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />

    <link
      rel="preload"
      href={font400}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href={font700}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    {/* italic is not used on the home page */}
    <link
      rel="prefetch"
      href={font400italic}
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <meta name="telegram:channel" content="@dev_rasen" />

    <meta property="og:type" content="website" />
    <meta property="og:image" content={ogImage} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Oleksii Shmalko" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    {
      description && (
        <>
          <meta name="description" content={description} />
          <meta property="og:description" content={description} />
        </>
      )
    }
    <meta property="og:url" content={canonicalUrl} />
    <link rel="canonical" href={canonicalUrl} />

    <link
      rel="webmention"
      href="https://webmention.io/oleksii.shmalko.com/webmention"
    />
    <link
      rel="pingback"
      href="https://webmention.io/oleksii.shmalko.com/xmlrpc"
    />

    <script src="https://cdn.usefathom.com/script.js" data-site="PCSQWUMO" async
    ></script>

    <slot name="head" />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        /* = font-size * line-height */
        --primary-spacing: 24px;
        --secondary-spacing: 8px;
        --primary-font-size: 16px;
        --primary-line-height: 1.5;
        --font-serif: 'Libre Baskerville', serif;
        --font-monospace: 'Source Code Pro', monospace;
        --bg-alt: #f0f0f0;
        --fg-dim: #282828;
        --green-alt: #315b00;
        --green-subtle-bg: #aecf90;
        --blue-alt: #2544bb;
        --blue-subtle-bg: #b5d0ff;
        --red-alt: #972500;
        --red-subtle-bg: #f2b0a2;
        --cyan-intense: #005f88;
        --cyan-alt-other: #005a5f;
        --magenta-alt: #8f0075;
      }
      html,
      body {
        padding: 0;
        margin: 0;
        font-family: var(--font-serif);
      }
      /* always show scroll bar. Otherwise, transitions might look junky. */
      body {
        overflow-y: scroll;
      }

      main {
        position: relative;
        display: flex;
        flex-direction: column;

        font-size: var(--primary-font-size);
        line-height: var(--primary-line-height);

        max-width: 700px;
        height: 100%;
        margin: 0 auto;
        padding: 24px 16px 0px;

        /* Allow breaking words if text overflows (very long words or links) */
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      code {
        font-family: var(--font-monospace);
      }

      html {
        box-sizing: border-box;
        font-size: 16px;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }

      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      ul,
      ol,
      dl {
        margin: 0;
        padding: 0;
        font-weight: normal;
      }

      ul,
      ol {
        padding-left: 24px;
      }
      li::marker,
      dt::marker {
        font-size: 14px;
      }
      ul {
        list-style: disc;
      }
      ol {
        list-style: decimal;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      code.inline-code {
        color: var(--cyan-alt-other);
      }
      code.inline-verbatim {
        color: var(--magenta-alt);
      }

      .todo-keyword {
        font-family: var(--font-monospace);
      }
      .todo-keyword.TODO {
        color: #1111ee;
      }
      .todo-keyword.DONE {
        color: #505050;
      }
      .priority {
        color: #721045;
      }
      .tags {
        color: #541f4f;
      }
      .timestamp {
        color: #30517f;
        white-space: nowrap;
      }

      .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      @media (min-width: 900px) {
        .top-level > ul,
        .top-level > ol,
        .top-level > dl > dt,
        .top-level > dl > dd,
        .top-level > .block-clearfix > ul,
        .top-level > .block-clearfix > ol,
        .top-level > .block-clearfix > dl > dt,
        .top-level > .block-clearfix > dl > dd,
        section > ul,
        section > ol,
        section > dl > dt,
        section > dl > dd {
          margin-left: 0px;
        }
        section > ul,
        section > ol,
        section > dl {
          padding-left: 0px;
        }
      }

      h1 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 16px;
      }
      h2 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      h3 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 16px;
      }
      h4 {
        font-size: 12px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 16px;
      }

      p,
      ul,
      ol,
      dl,
      table,
      blockquote,
      pre,
      pre.verse,
      .block,
      .src-block,
      .math-display,
      pre[class^='language-'],
      .footnote-definition {
        margin: 0 0 var(--primary-spacing) 0;
      }
      /* pull top-level lists slightly closer to the preceding
         paragraph */
      .top-level > p + ul,
      .top-level > p + ol,
      .top-level > p + dl {
        margin-top: -16px;
      }

      .footnum {
        margin-right: 8px;
      }
      .footdef {
        display: inline;
      }

      table {
        margin-bottom: var(--primary-spacing);
      }

      dt {
        float: left;
        display: list-item;
        list-style-type: disc;
        font-weight: 700;
      }
      dt::after {
        content: ':';
        margin-right: 4px;
      }
      dt,
      dd {
        margin-left: 24px;
      }
      dd > p:first-child::before {
        /*
         * Add zero-width space to dd, so that dd always occupies
         * some vertical space. Otherwise, the next dt will collapse
         * into the previous one if dd has no text.
         */
        content: '${' \u200b'}';
      }
      /* For dd, use larger padding if first child is not the only
       * child. So that next element is properly wrapped to the next
       * line and is not affected by dt's float:left. (Happens when
       * tag contains a list.)
       */
      dd > p,
      dd > ul,
      dd > ol,
      dd > dl,
      dd > table,
      dd > blockquote,
      dd > .block,
      dd > pre,
      li > p,
      li > ul,
      li > ol,
      li > dl,
      li > table,
      li > blockquote,
      li > .block,
      li > pre {
        margin-bottom: 8px;
      }
      li {
        margin-bottom: 8px;
      }
      .footnotes {
        display: flex;
        flex-direction: column;
      }

      pre {
        overflow: auto;
        line-height: 1.3;
      }

      blockquote,
      pre.verse,
      .block {
        display: block;
        padding: 0px 8px;
        border-left: 2px solid #444;
      }
      blockquote > :last-child,
      .block > :last-child {
        margin-bottom: 0;
      }

      pre.src-block,
      pre[class^='language-'] {
        border-radius: 4px;
      }
      .top-level > pre.src-block,
      .top-level > pre[class^='language-'] {
        /* make top-level code wider */
        margin-left: -16px;
        margin-right: -16px;
        border-radius: 0;
      }
      pre > code {
        background-color: #f0f0f0;
        width: fit-content;
        min-width: 100%;
        display: block;
        padding: 8px 16px;
      }

      .token.comment {
        color: #505050;
      }
      .token.keyword {
        font-weight: 700;
        color: #5317ac;
      }
      .token.string {
        color: #2544bb;
      }
      .token.class-name,
      .token.function,
      .token.variable {
        color: #721045;
        font-weight: 500;
      }
      .token.car {
        color: #00538b;
      }
      .token.builtin {
        color: #00538b;
        font-weight: 500;
      }
      .token.punctuation {
        color: #56576d;
      }

      /* make top-level images slightly wider */
      .top-level > p > picture:only-child {
        display: flex;
        justify-content: center;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
      }
      img {
        object-fit: scale-down;
      }

      @media (min-width: 900px) {
        /* allow top-level quotes to be slightly wider on wider screens */
        .top-level > blockquote,
        .top-level > pre.verse,
        .top-level > .block,
        .top-level > .block-clearfix > blockquote,
        .top-level > .block-clearfix > pre.verse,
        .top-level > .block-clearfix > .block {
          border-left: 2px solid #222;
          margin-left: -18px; /* -2 for border */
          margin-right: -16px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }

      article,
      .top-level {
        display: flex;
        flex-direction: column;
        position: relative;
      }

      .top-level table {
        display: block;
        border-collapse: collapse;
        font-size: 0.9em;
        overflow-x: auto;
      }
      .top-level > table {
        /* allow top-level tables to grow */
        max-width: calc(100vw - 32px);
        align-self: center;
      }

      .top-level th,
      .top-level td {
        padding: 12px 15px;
      }
      .top-level thead,
      .top-level tbody {
        border-bottom: 2px solid #888888;
      }
      .top-level tbody {
        border-top: 2px solid #888888;
      }
      .top-level thead tr {
        background-color: #e5e5e5;
        text-align: left;
        font-weight: 700;
      }
      .top-level tbody tr {
        border-bottom: 1px solid #888888;
        vertical-align: baseline;
      }

      /* If first element of the note is a definition list, pull it up
       * closer to the title. It is either my custom metadata list (tags,
       * source, etc.) or an auto-generated from bibtex file (authors, year,
       * etc.)
       */
      header + dl {
        margin-top: -8px;
        margin-bottom: 24px;
      }
      header + dl > dt,
      header + dl > dd {
        list-style-type: none;
        margin-left: 0;
      }

      /* asides */
      .block-clearfix {
        position: relative;
      }
      aside {
        background-color: var(--bg-alt);
        border-radius: 4px;
        margin: 0 -16px var(--primary-spacing);
        padding: 8px 16px;
      }
      aside > *:last-child {
        margin-bottom: 0px;
      }
      /* asides are moving to the right */
      @media (min-width: 1280px) {
        .block-clearfix aside {
          position: absolute;
          /* article and .block-clearfix are narrower than
           * main. Compensate for main's padding.
           */
          left: calc(100% + 16px);
          width: calc((100vw - 700px) / 2 - 32px);
          max-width: 300px;
          margin-top: -8px;
        }
        .block-clearfix aside {
          top: 0px;
        }
        .block-clearfix aside,
        /* needed for specificity */
        .top-level > .block-clearfix > aside {
          margin-left: 16px;
          margin-right: 16px;
        }
      }

      /* front-page */
      .block-categories {
        display: flex;
        flex-wrap: wrap;
        column-gap: 48px;
        margin-bottom: 32px;
      }
      .block-categories > section {
        max-width: 320px;
      }
      .block-categories li {
        margin-top: 4px;
      }
      @media (min-width: 900px) {
        .block-categories {
          width: calc(100vw - (100vw - 700px) / 2 - 32px);
          max-width: 960px;
          align-self: flex-start;
        }
      }
      .block-small {
        font-size: 14px;
      }

      .block-important {
        background: var(--bg-alt);
        margin: -4px;
        padding: 4px;
        border-radius: 4px;
      }
      .block-important > :last-child {
        margin-bottom: 0;
      }
    </style>
  </body>
</html>
